@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');
body {
    font-family: "Playwrite NG Modern", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1356d;
    color: white;
    padding: 10px 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    padding: 0 10px;
}

.container {
    max-width: 1100px;
    margin: 20px auto;
    padding: 0 20px;
}

h2 {
    color: #333;
}

.blog {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
}

.blog h2 {
    color: #333;
}

.blog p {
    color: #777;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.delete {
    background-color: #f1356d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}