<nav class="nav">
    <div>
        <a href="/"><h2>Blog site</h2></a>
        <p><%= title %> Vekariya</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/about/create">new contact</a></li>
    </ul>
</nav> 