<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div>
            <a href="/"><h2>Blog site</h2></a>
            <p>Jay Vekariya</p>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/about/create">new contact</a></li>
        </ul>
    </nav>
    <h1>From About Page</h1>
    <h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut recusandae culpa sequi impedit minus rerum, eaque deleniti temporibus aperiam in, repellendus qui eveniet consequuntur natus cumque blanditiis autem? Beatae labore quisquam distinctio accusantium dignissimos voluptatem officiis aliquam nihil assumenda laudantium. Tempora facere tempore in nobis dolores quae. Quia excepturi saepe accusamus sint aut iusto, quasi, animi quis eum ipsa accusantium, perferendis quidem laborum eaque rerum eligendi. Omnis perspiciatis ducimus iusto, dolorum sit veniam repudiandae delectus quasi harum facilis, reiciendis minus sed tempore dolores odio quas quisquam iure tempora necessitatibus? Praesentium dolor odio deleniti itaque quae asperiores veniam architecto officia sed.
    </h3>
</body>
</html>