<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div>
            <a href="/"><h2>Blog site</h2></a>
            <p>Jay Vekariya</p>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/about/create">new contact</a></li>
        </ul>
    </nav>
    <div>
        <h2>AllBlogs</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, quas deserunt dignissimos similique reiciendis magnam est quasi fugiat sequi ad aut blanditiis repudiandae voluptas adipisci ipsa cumque. Ratione quis repudiandae ut commodi obcaecati repellendus similique sint distinctio, ipsa impedit. Saepe doloribus inventore at quasi eveniet harum officiis illo. Provident architecto ipsam illo officia, molestias, ab nihil accusamus aut velit praesentium aliquid vitae sequi quis quasi. Doloremque molestiae eius dolores optio, voluptates ullam praesentium dolor culpa libero deleniti sed sunt deserunt provident possimus fugit quae, perspiciatis assumenda, alias odio? Laboriosam pariatur quibusdam voluptatem vel dolore illo nobis ipsa praesentium corporis sit.</p>
    </div>
</body>
</html>